<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img
      src="https://raw.githubusercontent.com/iamshaunjp/node-express-jwt-auth/lesson-1/public/smoothie.png"
      alt=""
    />
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Developers For Developers</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
